<!DOCTYPE html>
<html lang="en">
  <head>
    <title>EJS + Tailwind</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>

  <p class="bg-blue-300">Index</p>

  <body>
    Home
  </body>
</html>
